In [1]:
data = [
    {"name":"Abhi", "age":24, "city":"Bidar"},
    {"name":"Minu", "age":27, "city":"Gulbarga"},
    {"name":"Anji", "age":22, "city":"Bidar"},
    {"name":"Rama", "age":21, "city":"Raichur"},
    {"name":"Rakshita", "age":21, "city":"Bangalore"},
    {"name":"Ramya", "age":23, "city":"Bangalore"},
    {"name":"Ashwini", "age":26, "city":"Mysore"},
    {"name":"Ravi", "age":28, "city":"Mangalore"},
    {"name":"Krish", "age":34, "city":"Bangalore"},
]

In [2]:
import pyspark

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

21/12/31 15:32:00 WARN Utils: Your hostname, Aspire resolves to a loopback address: 127.0.1.1; using 192.168.1.24 instead (on interface wlan0)
21/12/31 15:32:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/moni/.local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/31 15:32:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.createDataFrame(data)

In [6]:
df.show()

+---+---------+--------+
|age|     city|    name|
+---+---------+--------+
| 24|    Bidar|    Abhi|
| 27| Gulbarga|    Minu|
| 22|    Bidar|    Anji|
| 21|  Raichur|    Rama|
| 21|Bangalore|Rakshita|
| 23|Bangalore|   Ramya|
| 26|   Mysore| Ashwini|
| 28|Mangalore|    Ravi|
| 34|Bangalore|   Krish|
+---+---------+--------+

In [9]:
import pyspark.sql.functions as F

In [13]:
df.groupBy("city").count().show()

+---------+-----+
|     city|count|
+---------+-----+
| Gulbarga|    1|
|    Bidar|    2|
|  Raichur|    1|
|Bangalore|    3|
|   Mysore|    1|
|Mangalore|    1|
+---------+-----+

In [27]:
df.groupBy("age").count().show()

+---+-----+
|age|count|
+---+-----+
| 27|    1|
| 24|    1|
| 22|    1|
| 21|    2|
| 23|    1|
| 26|    1|
| 34|    1|
| 28|    1|
+---+-----+

In [33]:
data

[{'name': 'Abhi', 'age': 24, 'city': 'Bidar'},
 {'name': 'Minu', 'age': 27, 'city': 'Gulbarga'},
 {'name': 'Anji', 'age': 22, 'city': 'Bidar'},
 {'name': 'Rama', 'age': 21, 'city': 'Raichur'},
 {'name': 'Rakshita', 'age': 21, 'city': 'Bangalore'},
 {'name': 'Ramya', 'age': 23, 'city': 'Bangalore'},
 {'name': 'Ashwini', 'age': 26, 'city': 'Mysore'},
 {'name': 'Ravi', 'age': 28, 'city': 'Mangalore'},
 {'name': 'Krish', 'age': 34, 'city': 'Bangalore'}]

In [34]:
from pyspark.util import itertools
import operator

In [45]:
def get_city(item):
    return item["city"]

dd = itertools.groupby(data,get_city)

In [46]:
for i,j in dd:
    print(i,len(list(j)))

Bidar 1
Gulbarga 1
Bidar 1
Raichur 1
Bangalore 2
Mysore 1
Mangalore 1
Bangalore 1

In [47]:
import itertools

In [59]:
def get_city(item):
    return item["age"]

In [60]:
data

[{'name': 'Abhi', 'age': 24, 'city': 'Bidar'},
 {'name': 'Minu', 'age': 27, 'city': 'Gulbarga'},
 {'name': 'Anji', 'age': 22, 'city': 'Bidar'},
 {'name': 'Rama', 'age': 21, 'city': 'Raichur'},
 {'name': 'Rakshita', 'age': 21, 'city': 'Bangalore'},
 {'name': 'Ramya', 'age': 23, 'city': 'Bangalore'},
 {'name': 'Ashwini', 'age': 26, 'city': 'Mysore'},
 {'name': 'Ravi', 'age': 28, 'city': 'Mangalore'},
 {'name': 'Krish', 'age': 34, 'city': 'Bangalore'}]

In [61]:
sorted_data = sorted(data,key=operator.itemgetter("age"))

ddf = itertools.groupby(sorted_data,get_city)

In [62]:
for i,j in ddf:
    print(i,len(list(j)))

21 2
22 1
23 1
24 1
26 1
27 1
28 1
34 1

In [82]:
print(dir(pyspark.sql.udf))

['Column', 'DataType', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'UDFRegistration', 'UserDefinedFunction', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_udf', '_parse_datatype_string', '_prepare_for_python_RDD', '_test', '_to_java_column', '_to_seq', '_wrap_function', 'functools', 'sys', 'to_arrow_type']